pkgbase = ak-fuse-archive
	pkgdesc = FUSE file system for archives and compressed files (ZIP, RAR, 7Z, ISO, TGZ, XZ...)
	pkgver = 1.22
	pkgrel = 1
	url = https://github.com/google/fuse-archive
	arch = x86_64
	license = Apache-2.0
	checkdepends = python
	makedepends = boost
	depends = fuse3
	depends = glibc
	depends = libarchive
	depends = gcc-libs
	conflicts = fuse-archive
	source = fuse-archive-1.22.tar.gz::https://github.com/google/fuse-archive/archive/refs/tags/v1.22.tar.gz
	sha256sums = a3c77e06b9c808352a4e2ee5c7de84f8b52849a604f0154cc9049205d0a603a0

pkgname = ak-fuse-archive
